<div class="field-list">
  {{>(template "fields/number") label="Сила" edit="system.power"}}

  {{>(template "fields/number") label="MU" edit="system.mu"}}
</div>

<div class="field-list">
  {{>(template "fields/string") label="Тип" edit="system.programType"}}

  {{>(template "fields/string") label="Формула броска" edit="system.damageFormula"}}
</div>